/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full white page */
html, body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Top-left text */
#logo {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}
